.gamma {
  height: 53px;
  width: 75px;
  border: 1px solid black;
  color: rgb(17, 15, 15);
  transition: all 2s;
}
.beta {
  border: 100px;
}
.Alpha {
  width: 300px;
  margin: auto;
  /* margin-left: 550px; */
  margin-top: 100px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color:#ededed;
}
.h2 {
  margin-left: 70px;
}
#text {
  width: 285px;
  height: 30px;
  color: green;
  transition: all 3s;
}
.gamma:hover {
  background-color: red;
  border-radius: 50%;
  color: beige;
}

#text:hover {
  background-color: violet;
  color: forestgreen;
}
